In [1]:
import pandas as pd
import numpy as np

In [2]:
s1 = ["congrats. you have won a lottery of 1 million and you can get the lottery amount by calling the lottery number.",
     "give your bank details to get the lottery amount in your bank account",
     "lottery for sure if your bank account details are verified"]

In [3]:
s1

['congrats. you have won a lottery of 1 million and you can get the lottery amount by calling the lottery number.',
 'give your bank details to get the lottery amount in your bank account',
 'lottery for sure if your bank account details are verified']

In [4]:
s1[0]

'congrats. you have won a lottery of 1 million and you can get the lottery amount by calling the lottery number.'

In [5]:
s1[1]

'give your bank details to get the lottery amount in your bank account'

In [6]:
s1[2]

'lottery for sure if your bank account details are verified'

In [7]:
# tokenization
s1[0].split()

['congrats.',
 'you',
 'have',
 'won',
 'a',
 'lottery',
 'of',
 '1',
 'million',
 'and',
 'you',
 'can',
 'get',
 'the',
 'lottery',
 'amount',
 'by',
 'calling',
 'the',
 'lottery',
 'number.']

In [8]:
s1[1].split()

['give',
 'your',
 'bank',
 'details',
 'to',
 'get',
 'the',
 'lottery',
 'amount',
 'in',
 'your',
 'bank',
 'account']

In [9]:
s1[2].split()

['lottery',
 'for',
 'sure',
 'if',
 'your',
 'bank',
 'account',
 'details',
 'are',
 'verified']

In [10]:
# count vectorization / Bag of words technique
from sklearn.feature_extraction.text import CountVectorizer

In [11]:
vect = CountVectorizer(stop_words='english')

In [12]:
op = vect.fit_transform(s1).toarray()
op

array([[0, 0, 1, 1, 0, 3, 1, 1, 0, 0, 1],
       [1, 2, 0, 0, 1, 1, 0, 0, 0, 0, 0],
       [1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0]], dtype=int64)

In [13]:
df = pd.DataFrame(op,columns = vect.get_feature_names())
df

C:\Users\sudhi\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,account,bank,calling,congrats,details,lottery,million,number,sure,verified,won
0,0,0,1,1,0,3,1,1,0,0,1
1,1,2,0,0,1,1,0,0,0,0,0
2,1,1,0,0,1,1,0,0,1,1,0

In [14]:
spam = pd.read_table("https://raw.githubusercontent.com/arib168/data/main/spam.tsv")
spam

     label                                            message  length  punct
0      ham  Go until jurong point, crazy.. Available only ...     111      9
1      ham                      Ok lar... Joking wif u oni...      29      6
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3      ham  U dun say so early hor... U c already then say...      49      6
4      ham  Nah I don't think he goes to usf, he lives aro...      61      2
...    ...                                                ...     ...    ...
5567  spam  This is the 2nd time we have tried 2 contact u...     160      8
5568   ham               Will ü b going to esplanade fr home?      36      1
5569   ham  Pity, * was in mood for that. So...any other s...      57      7
5570   ham  The guy did some bitching but I acted like i'd...     125      1
5571   ham                         Rofl. Its true to its name      26      1

[5572 rows x 4 columns]

In [15]:
spam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   label    5572 non-null   object
 1   message  5572 non-null   object
 2   length   5572 non-null   int64
 3   punct    5572 non-null   int64
dtypes: int64(2), object(2)
memory usage: 174.2+ KB

In [16]:
spam.describe

<bound method NDFrame.describe of      label                                            message  length  punct
0      ham  Go until jurong point, crazy.. Available only ...     111      9
1      ham                      Ok lar... Joking wif u oni...      29      6
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3      ham  U dun say so early hor... U c already then say...      49      6
4      ham  Nah I don't think he goes to usf, he lives aro...      61      2
...    ...                                                ...     ...    ...
5567  spam  This is the 2nd time we have tried 2 contact u...     160      8
5568   ham               Will ü b going to esplanade fr home?      36      1
5569   ham  Pity, * was in mood for that. So...any other s...      57      7
5570   ham  The guy did some bitching but I acted like i'd...     125      1
5571   ham                         Rofl. Its true to its name      26      1

[5572 rows x 4 columns]>

In [17]:
spam.describe()

            length        punct
count  5572.000000  5572.000000
mean     80.489950     4.177495
std      59.942907     4.623919
min       2.000000     0.000000
25%      36.000000     2.000000
50%      62.000000     3.000000
75%     122.000000     6.000000
max     910.000000   133.000000

In [18]:
spam.isnull().sum()

label      0
message    0
length     0
punct      0
dtype: int64

In [19]:
spam.dtypes

label      object
message    object
length      int64
punct       int64
dtype: object

In [20]:
spam['message'][2]

"Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"

In [21]:
spam['label'][2]

'spam'

In [22]:
# check dataset is balanced or imbalanced
# balanced - metrics accuracy is suffuecient
# imbalanced - metrics(accuracy,recall,precision,f1-score)
spam['label'].value_counts()

#dataset is imbalanced

ham     4825
spam     747
Name: label, dtype: int64

In [23]:
# create a machine learning algorithmn to predict if mail is spam or not

In [24]:
x = spam['message']
y = spam['label']

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=0)

In [27]:
# apply countvectorizer then apply svm or naive bayes

In [28]:
from sklearn.feature_extraction.text import CountVectorizer

In [29]:
vect = CountVectorizer()

In [30]:
x_train_vect = vect.fit_transform(x_train)
x_test_vect = vect.transform(x_test)

In [31]:
from sklearn.svm import SVC

In [32]:
model1 = SVC()

In [33]:
model1.fit(x_train_vect,y_train)

SVC()

In [34]:
y_pred1 = model1.predict(x_test_vect)
y_pred1

array(['ham', 'spam', 'ham', ..., 'ham', 'ham', 'ham'], dtype=object)

In [35]:
y_test

4456     ham
690     spam
944      ham
3768     ham
1189     ham
        ...
1889     ham
2250    spam
2915    spam
1282     ham
1206     ham
Name: label, Length: 1393, dtype: object

In [36]:
from sklearn.metrics import accuracy_score

In [37]:
accuracy_score(y_test,y_pred1)

0.9834888729361091

In [38]:
data = ['win free tickets to football game']
data = vect.transform(data)

In [39]:
model1.predict(data)

array(['ham'], dtype=object)

In [40]:
data1 = ["let's go out this weekend"]
data1 = vect.transform(data1)

In [41]:
model1.predict(data1)

array(['ham'], dtype=object)

In [42]:
# PIPELINE MODEL USING COUNT VECTORIZER AND SVC
# PIPELINE - the purpose of the pipeline is to assemble several steps that can be cross-validated together while setting different parameters
# Pipeline can be used to chain multiple estimators into one.

In [43]:
#Pipeline removes the problem of having to apply the transformation(count vectorization) again and again everytime before predicting

In [44]:
from sklearn.pipeline import make_pipeline

In [45]:
model2 = make_pipeline(CountVectorizer(),SVC( ))

In [46]:
model2.fit(x_train,y_train)

Pipeline(steps=[('countvectorizer', CountVectorizer()), ('svc', SVC())])

In [47]:
y_pred2 = model2.predict(x_test)

In [48]:
accuracy_score(y_test,y_pred2)

0.9834888729361091

In [49]:
from sklearn.naive_bayes import MultinomialNB

In [50]:
model3 = MultinomialNB()

In [51]:
model3.fit(x_train_vect,y_train)

MultinomialNB()

In [52]:
y_pred3 = model3.predict(x_test_vect)
y_pred3

array(['ham', 'spam', 'ham', ..., 'spam', 'ham', 'ham'], dtype='<U4')

In [63]:
accuracy_score(y_test,y_pred3)

0.9885139985642498

In [54]:
data = ['win free tickets to football game']
data = vect.transform(data)

In [55]:
model3.predict(data)

array(['spam'], dtype='<U4')

In [56]:
data1 = ["let's go out this weekend"]
data1 = vect.transform(data1)

In [57]:
model3.predict(data1)

array(['ham'], dtype='<U4')

In [58]:
from sklearn.pipeline import make_pipeline

In [59]:
model4 = make_pipeline(CountVectorizer(),MultinomialNB())

In [60]:
model4.fit(x_train,y_train)

Pipeline(steps=[('countvectorizer', CountVectorizer()),
                ('multinomialnb', MultinomialNB())])

In [61]:
y_pred4 = model4.predict(x_test)
y_pred4

array(['ham', 'spam', 'ham', ..., 'spam', 'ham', 'ham'], dtype='<U4')

In [62]:
accuracy_score(y_test,y_pred4)

0.9885139985642498

In [70]:
# Using best model with highest accuracy to crate a joblib file
# joblib is used for pipeline models

In [71]:
import joblib
joblib.dump(model4,'spam-ham')

['spam-ham']

In [72]:
# reload the file
reloaded_model = joblib.load('spam-ham')
reloaded_model

Pipeline(steps=[('countvectorizer', CountVectorizer()),
                ('multinomialnb', MultinomialNB())])

In [73]:
# prediction using reloaded-model
reloaded_model.predict(['Free tickets for a football match'])

array(['spam'], dtype='<U4')

In [74]:
reloaded_model.predict(['Free entry to the mall'])

array(['spam'], dtype='<U4')